<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="1; URL=./profil" /> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profil</title>
</head>
<body>
    <h1> Bienvenue sur votre profil <%= nom %> </h1> 
    <p> <a href="/" >Retour à la page de connexion</a> 
    <a href = "/friends">Liste de vos amis</a>
    <a href = "/newPost">Créer un nouveau post</a></p>
    <br>
    <h2>Votre actualité</h2>
    <br>
    <div>
        
        <% posts.forEach(function(post){%>
            <p>_____________________________________________________________________________________________________</p>
            <h3><%= post.title %></h3>
            <p><%= post.createdAt %></p>
            <p><%= post.user.nom %></p>
            <p><%= post.description %></p>
        <%});%>
    </div>
    
    
</body>
</html>

