<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="1; URL=./profil" /> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Profil</title>
</head>

<style>
	body{
		text-align: justify;
		width: 70%;
		margin: auto;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	
	.trait{
		color: lightgrey;
		font-family: Arial, Helvetica, sans-serif;
	}

	.titreP{
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		text-align: center;
		text-shadow: 2px 2px lightgrey;
		padding: 10px, 10px, 10px, 10px;
	}

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	}

	li {
    float: left;
	}

	li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	li a:hover:not(.active) {
			background-color: darkgray;
	}

	.active {
			background-color: lightblue;
	}

	#menu{
		color: darkgray;
		text-align: center;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		text-decoration: none;
	}

	#menu li{
		text-decoration: none;
		display: inline;
		text-transform: uppercase;
		list-style: none;
	}

	#menu a:link{
		text-decoration: none;
		color: gray;
		}

	.titre{
		color: lightblue;
		text-transform: uppercase;
	}	

	.copyright{
		font-size: 10px;
		padding-top: 20px;
	}
</style>

<body>
		<ul id="menu">
				<li> <a class="active" href = "/profil">Profil</a> </li>
				<li> <a href = "/friends">Liste de tes amis</a> </li>	
				<li> <a href = "/newPost">Créer un nouveau post</a> </li>
				<li> <a href="/" >Retour à la page de connexion</a> </li>
		</ul>

		<img src="../image/socialstudent.png" alt="logo"/>

		<h1 class="titreP">Bienvenue sur ton profil <em><%= nom %></em></h1> 
		
    <br>
    <h2 class="titre">Ton actualité</h2>
    
    <div class="monActualite">
        
        <% posts.forEach(function(post){%>
            <p class="trait">________________________________________________________________________________________________________________</p>
            <h4>Titre : <%= post.title %></h4>
            <p>Date : <%= post.createdAt %></p>
            <p>Description : <%= post.description %></p>
        <%});%>
    </div>
		<br>
    <br>
    <h2 class="titre">L'actualité de tes amis</h2>
    
    <div class="tonActualite">
				<% postsAmi.forEach(function(postsFriend){ %>
					<p class="trait">________________________________________________________________________________________________________________</p>
            <h4>Titre : <%=postsFriend.title %> </h4>
            <p>Date : <%= postsFriend.createdAt %></p>
            <p>Nom d'utilisateur : <%=postsFriend.user.local.username %></p>
            <p>Description : <%=postsFriend.description %></p>
            <br>
        <%});%>
    </div>
   
    <p class="copyright">Copyright © 2018 - Tous droits réservés. Réalisé par SocialStudent</p>
</body>
</html>


  
